[submodule "deps/http"]
	path = deps/http
	url = git@github.com:bidstack/bidstack-http
[submodule "deps/cache"]
	path = deps/cache
	url = git@github.com:bidstack/bidstack-cache
[submodule "deps/qjson4"]
	path = deps/qjson4
	url = git@github.com:bidstack/qjson4
